.boxone {
  border: 3px solid black;
  bottom: 0px;
  position: absolute;
}
.background {
  background-color: ghostwhite;
}
.backgroundone {
  padding: 20px;

  padding-bottom: 100px;
}
.backgroundtwo {
  padding: 20px;
}
